*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 100vh;
    background-color: white;
  }
  
  .main-content{
    display:grid;
    grid-template-rows: 0.4fr 4.2fr 1fr;
  }
  
  
  .header-section{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFC94B;
    grid-row: span 1;
  }
 /* navigation bar */
 
  .topnav{
      display: flex;
      gap: 1250px;
  }
  
  .page-content-section{
    background-image: url(https://img.freepik.com/free-photo/cheerful-student-writing-holding-books_1098-3439.jpg?size=626&ext=jpg&ga=GA1.2.1503742435.1652435681);
    background-repeat: no-repeat;
    background-size: 100%;
    grid-row: span 1/span 2;
  }

.tagline{
    padding-top: 120px;
    padding-left: 50px;
    color: white;
}

.tagline h1{
    font-size: 60px;
    font-weight: 200;
}

.tagline h3{
    font-size: 25px;
    font-weight: 200;
}

/*Login button */
.login{
    margin-top: 20px;
}

.login button{
    padding: 15px 20px;
    font-size: 20px;
    font-weight: 600;
    color: white;
    border: none;
    background: rgb(65, 150, 235);
    outline: none;
    cursor: pointer;
    border-radius: 5px;
  }

/* login pop up */
#overlaySignIn {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
    }
    
    .popup{
    padding: 60px 60px 100px 60px;
    position: absolute;
    top: 55%;
    left: 50%;
    font-size: 20px;
    background-color: black;
    box-shadow: 2px 2px 5px 5px;
    opacity: 85%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    }
    
    .popup .close-btn{
      position: absolute;
      top: 20px;
      right: 30px;
      width: 17.5px;
      height: 17.5px;
      /* background: #FFC94B; */
      color: white;
      text-align: center;
      line-height: 15px;
      border-radius: 15px;
      cursor: pointer;
    }
    
    #form h2{
    text-align: left;
    font-weight: 200;
    color: white;
    font-size: 35px;
    }
    
    #form .form-element{
    padding-top: 20px;
    }
    
    #form .checkbox-element{
    padding-top: 19px;
    }
    
    #form .checkbox-element label{
      font-size: 17px;
      color: white;
      margin-left: 30px;
    }
    
    #form .form-element input[type="text"] {
    margin-top: 20px;
    display: block;
    width: 350px;
    height: 60px;
    background-color: rgb(50, 47, 47);
    border: none;
    border-radius: 3px;
    padding-left: 25px;
    font-size: 18px;
    color: white;
    }
    
    #form .form-element input[type="password"] {
      margin-top: 20px;
      display: block;
      width: 350px;
      height: 60px;
      background-color: rgb(50, 47, 47);
      border: none;
      border-radius: 3px;
      padding-left: 25px;
      font-size: 18px;
      color: white;
    }
    
    #form .form-element input::placeholder {
      font-size: 18px;
      color: white;
      }
    
    
    #form .checkbox-element input[type="checkbox"] {
    display: block;
    position: absolute;
    top: 65.7%;
    left: 15%;
    }
    
    #form .need-help-section{
      display: flex;
      flex-direction: row;
      gap: 60px;
    }
    
    #form .form-element a{
    font-size: 15px;
    text-decoration: none;
    padding-top: none;
    color: white;
    }
    
    #form .signUp-intro{
      margin-top: 80px;
    }
    
    #form .signUp-intro p{
      font-size: 20px;
      color: white;
    }
    
    #form .signUp-intro a{
      color: white;
      text-decoration: none;
    }
    
    
    #form button{
    width: 350px;
    height: 55px;
    margin-top: 40px;
    background-color: goldenrod;
    border: none;
    border-radius: 3px;
    color: white;
    font-size: 20px;
    font-weight: 600;
    }

/* Footer */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  ul {
    list-style: none;
    padding-left: 0;
  }
  footer {
    background-color: #660746;
    color: #bbb;
    line-height: 1.5;
  }
  footer a {
    text-decoration: none;
    color: #eee;
  }
  a:hover {
    text-decoration: underline;
  }
  .ft-title {
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.375rem;
    padding-bottom: 0.625rem;
  }
  /* Sticks footer to bottom */
  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
  .container {
    flex: 1;
  }
  /* Footer main */
  .ft-main {
    padding: 1.25rem 1.875rem;
    display: flex;
    flex-wrap: wrap;
  }
  @media only screen and (min-width: 29.8125rem /* 477px */) {
    .ft-main {
      justify-content: space-evenly;
    }
  }
  @media only screen and (min-width: 77.5rem /* 1240px */) {
    .ft-main {
      justify-content: space-evenly;
    }
  }
  .ft-main-item {
    padding: 1.25rem;
    min-width: 12.5rem;
  }
  
  /* Footer main | Newsletter form */
  form {
    display: flex;
    flex-wrap: wrap;
  }
  input[type="email"] {
    border: 0;
    padding: 0.625rem;
    margin-top: 0.3125rem;
  }
  input[type="submit"] {
    background-color: #00d188;
    color: #fff;
    cursor: pointer;
    border: 0;
    padding: 0.625rem 0.9375rem;
    margin-top: 0.3125rem;
  }
  /* Footer legal */
  .ft-legal {
    padding: 0.6rem 1.875rem;
    background-color: #333;
  }
  .ft-legal-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  .ft-legal-list li {
    margin: 0.125rem 0.625rem;
    white-space: nowrap;
  }
  /* one before the last child */
  .ft-legal-list li:nth-last-child(2) {
      flex: 1;
  }
  /* Footer */