*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-repeat: no-repeat;
    background-color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 100vh;
}

.main-content {
  display: grid;
  grid-template-rows: 0.1fr 6fr 2fr;
}

.header-section{
  padding-left: 2rem;
    background-color: #FFC94B;
    grid-row: span 1;
}


.page-content{
  grid-row: span 1/ span 2;
  background-image: url(https://img.freepik.com/free-photo/cheerful-student-writing-holding-books_1098-3439.jpg?size=626&ext=jpg&ga=GA1.2.1503742435.1652435681);
  background-repeat: no-repeat;
  background-size: 100%;
}

#signUpForm{
  padding: 2rem 2rem 2rem 2rem;
  position: absolute;
  top: 96%;
  left: 50%;
  font-size: 1rem;
  background-color: black;
  box-shadow: 1rem 1rem 2rem 1rem;
  opacity: 75%;
  transform: translate(-50%,-50%);

}

#signUpForm h2{
  text-align: left;
  font-weight: 200;
  color: white;
  font-size: 1.8rem;
}
    
#signUpForm .form-element{
    padding-top: 0.5rem;
}
    
#signUpForm .form-element input[type="text"] {
  margin-top: 1rem;
  width: 23rem;
  height: 4rem;
  background-color: rgb(50, 47, 47);
  border: none;
  border-radius: 3px;
  padding-left: 2rem;
  font-size: 1.5rem;
  color: white;
}

#signUpForm .form-element input[type="password"] {
     margin-top: 1rem;
  width: 23rem;
  height: 4rem;
  background-color: rgb(50, 47, 47);
  border: none;
  border-radius: 3px;
  padding-left: 2rem;
  font-size: 1.5rem;
  color: white;
}

#signUpForm .form-element input::placeholder {
    font-size: 1rem;
    color: white;
}

#signUpForm button{
  width: 23rem;
  height: 4rem;
  margin-top: 1.5rem;
  background-color: goldenrod;
  border: none;
  border-radius: 3px;
  color: white;
  font-size: 1.5rem;
  font-weight: 600;
}


/* Footer */
* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 0;
  }
  ul {
    list-style: none;
    padding-left: 0;
  }
  footer {
    background-color: #660746;
    color: #bbb;
    line-height: 1.5;
  }
  footer a {
    text-decoration: none;
    color: #eee;
  }
  a:hover {
    text-decoration: underline;
  }
  .ft-title {
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.375rem;
    padding-bottom: 0.625rem;
  }
  /* Sticks footer to bottom */
  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
  .container {
    flex: 1;
  }
  /* Footer main */
  .ft-main {
    padding: 1.25rem 1.875rem;
    display: flex;
    flex-wrap: wrap;
  }
  @media only screen and (min-width: 29.8125rem /* 477px */) {
    .ft-main {
      justify-content: space-evenly;
    }
  }
  @media only screen and (min-width: 77.5rem /* 1240px */) {
    .ft-main {
      justify-content: space-evenly;
    }
  }
  .ft-main-item {
    padding: 1.25rem;
    min-width: 12.5rem;
  }
  
  /* Footer main | Newsletter form */
  form {
    display: flex;
    flex-wrap: wrap;
  }
  input[type="email"] {
    border: 0;
    padding: 0.625rem;
    margin-top: 0.3125rem;
  }
  input[type="submit"] {
    background-color: #00d188;
    color: #fff;
    cursor: pointer;
    border: 0;
    padding: 0.625rem 0.9375rem;
    margin-top: 0.3125rem;
  }
  /* Footer legal */
  .ft-legal {
    padding: 0.6rem 1.875rem;
    background-color: #333;
  }
  .ft-legal-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  .ft-legal-list li {
    margin: 0.125rem 0.625rem;
    white-space: nowrap;
  }
  /* one before the last child */
  .ft-legal-list li:nth-last-child(2) {
      flex: 1;
  }
  /* Footer */